body {
	background-image: url("http://www.leitrimobserver.ie/resizer/-1/-1/true/1482322900171.jpg--.jpg?1482322903000");
	background-repeat: repeat-y;
}

.display {
	border: solid;
	border-color: blue;
	font-size: 25px;
	color: white;
}
.recents {
	border:solid;
	border-color: blue;
	font-size:25px;
	color: white;
}

h1 {
	text-align: center;
	font-size: 40px;
	color: white;
	font-family: "Comic Sans", "times new roman", "times" , "serif";
	padding: 25px;
}

#recentsDiv{
	text-align: center;
}

#searchForm {
	text-align: center;
	padding-bottom:20px;
}
#searchMovTxt {
	font-size: 25px;
	color:white;
}

#populateDiv {
	text-align: center;
}
#num-select {
	color:white;
}