body {
	background-image: url("images/absurdidad.png");
	background-repeat: repeat-y;
}

.display {
	border: solid;
	border-color: blue;
	font-size: 25px;
	color: white;
}
.recents {
	border:solid;
	border-color: blue;
	font-size:25px;
	color: white;
}

h1 {
	text-align: center;
	font-size: 40px;
	color: black;
	font-family: "Comic Sans", "times new roman", "times" , "serif";
	padding: 25px;
}



#recentsDiv{
	text-align: center;
}

#searchForm {
	text-align: center;
	padding-bottom:20px;
}
#searchMovTxt {
	font-size: 25px;
	color:white;
}

#populateDiv {
	text-align: center;
}